<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </style>
    <title>baseline</title>
</head>
<body style="text-align: center;">
    <img src="../static/shuttle_bus_top.png" alt='#' style="max-width: 100%;">
    <br>
    <br>
    <h4>Best Baseline Output:</h4>
    <br>
    {% if baselineOutput1 %}
        <h6>AB to Jinqiao #buses (interval 1-34): {{baselineOutput1}}</h6>
    {% endif %}
    {% if baselineOutput2 %}
        <h6>Jinqiao to AB #buses (interval 1-34): {{baselineOutput2}}</h6>
    {% endif %}
    <br>
    {% if allFeasibilityFlag %}
        <h6>All constraints met?: {{allFeasibilityFlag}}</h6>
    {% endif %}
    {% if allFeasibilityFlag %}
        <div>
            <p>demand constraint violations: {{demandViolationNum}}</p>
            <p>rush hour constraint violations: {{rushHourViolationNum}}</p>
            <p>max working hour constraint violations: {{maxWorkingHourViolationNum}}</p>
        </div>
    {% endif %}
    {% if minCost %}
        <h5>Min cost of the last iteration: {{minCost}}RMB</h5>
    {% endif %}

    <a href='/' class="btn btn-primary">Try Again</a>

    <!-- Contact Info session -->
    <footer style="background-color: #444343; width: 100%; height: 170px; position:absolute; bottom:0;">
        <br>
        <div style="font-size: 40px; margin-left: 10px; margin-right: 10px">
            <a href="https://github.com/AlisonYao" class="fa fa-github" style="color: white;"></a>
            &nbsp;&nbsp;
            <a href="https://www.linkedin.com/in/yuhanyao/" class="fa fa-linkedin" style="color: white;"></a>
            &nbsp;&nbsp;
            <a href="https://medium.com/@AlisonYuhanYao" class="fa fa-medium" style="color: white;"></a>
            &nbsp;
        </div>
        <br>
        <h6 style="color: white;">Copyright &#169; 2021 Alison Yuhan Yao. All rights reserved</h6>
        <br>
    </footer>
</body>
</html>