<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- loading page -->
    <!-- see https://stackoverflow.com/questions/14525029/display-a-loading-message-while-a-time-consuming-function-is-executed-in-flask -->
    <script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();       
        }
// ]]></script>
    <style>
        div#loading {
        width: 100%;
        height: 100%;
        display: none;
        background: url(../static/loadingGIF.gif) no-repeat;
        background-size: 80px;
        background-position: center;
        height: 100vh;
        cursor: wait;
        }
    </style>
    <title>Home Page</title>
</head>
<body style="text-align: center">
    <!-- loading page -->
    <div id="loading"></div>

    <!-- content page -->
    <div id='content'>
        <img src="../static/shuttle_bus.png" alt='#' style="max-width: 100%;">
        <br>
        <br>
        <br>
        <h3>Please read the <a href="https://github.com/AlisonYao/DURF-Bus-Schedule-Optimization/blob/main/DURF%20report.pdf">DURF report</a> first so that you have some idea of:</h3> 
        <h5>which model to use, why there are so many parameters, how to set these parameters, and how to interpret the outcome.</h5>
        <h6>Check the code and project description <a href="https://github.com/AlisonYao/DURF-Bus-Schedule-Optimization">here</a>.</h6>
        <br>
        <br>
            <div class='container' style="text-align: center">
                <div class="row align-items-start">
                    <div class="col">
                        <form action="/baseline" method="POST">
                            <h3>Baseline Problem</h3>
                            <br>
                            <img src="../static/baseline_networks.png" alt='#' style="max-width: 100%;">
                            <br>
                            <br>
                            <div class="baseline_params">
                                <h4>Parameters</h4>
                                <div>
                                    <span>initial_prob:</span>
                                    <input name='initial_prob' type="number" step="0.01" min=0.01 max=0.99 value='0.8' placeholder='0.8'>
                                </div>
                                <div>
                                    <span>population_size:</span>
                                    <input name='population_size' type="number" step="1" min="2" value="20" placeholder="20">
                                </div>
                                <div>elitism_cutoff: 2</div>
                                <div>
                                    <span>mutation_num:</span>
                                    <input name='mutation_num' type="number" step="1" min="1" value="1" placeholder="1">
                                </div>
                                <div>
                                    <span>evolution_depth</span>
                                    <input name='evolution_depth' type="number" step="10" min="10" value="1000" placeholder="1000">
                                </div>
                                <div>
                                    <span>Number of buses (N):</span>
                                    <input name="N" type="number" min="1" value="18" placeholder="18">
                                </div>
                                <div>
                                    <span>Number of seats per bus (D):</span>
                                    <input name="D" type="number" min="1" value="50" placeholder="50">
                                </div>
                                <div>
                                    <span>tolerance:</span>
                                    <input name="tolerance" type="number" min="0" max='10' value="0" placeholder="0">
                                </div>
                                <div>intervalDuration: 0.5</div>
                                <div>maxWorkingHour: 4</div>
                                <div>checkDemandFlag: True</div>
                                <div>
                                    <span>checkRushHourFlag:</span>
                                    <select name="checkRushHourFlag" id="checkRushHourFlag">
                                        <option value="True">True</option>
                                        <option value="False">False</option>
                                    </select>
                                </div>
                                <div>checkMaxWorkingHourFlag: True</div>
                                <div>
                                    <span>Coefficient of demand penalty (alpha):</span>
                                    <input name="alpha" type="number" step="0.01" min="0.01" max="1" value="1" placeholder="1">
                                </div>
                                <div>
                                    <span>demandViolationPenalty</span>
                                    <input name="demandViolationPenalty" type="number" min="0" value="10" placeholder="10">
                                </div>
                                <div>
                                    <span>rushHourViolationPenalty</span>
                                    <input name="rushHourViolationPenalty" type="number" min="0" value="7" placeholder="7">
                                </div>
                                <div>
                                    <span>maxWorkingHourViolationPenalty</span>
                                    <input name="maxWorkingHourViolationPenalty" type="number" min="0" value="5" placeholder="5">
                                </div>
                            </div>
                            <br>
                            <div class="baseline_demand">
                                <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jinqiao to AB&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;AB to Jinqiao</h4>
                                <div>
                                    <span>&nbsp;&nbsp;1&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand1" min="0" value='114' required> 
                                    <input type="number" name="AB2JQ_demand1" min="0" value='0' required>
                                </div>
                                <div>
                                    <span>&nbsp;&nbsp;2&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand2" min="0" value='106' required>
                                    <input type="number" name="AB2JQ_demand2" min="0" value='0' required>
                                </div>
                                <div>
                                    <span>&nbsp;&nbsp;3&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand3" min="0" value='132' required> 
                                    <input type="number" name="AB2JQ_demand3" min="0" value='0' required>
                                </div>
                                <div>
                                    <span>&nbsp;&nbsp;4&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand4" min="0" value='132' required>
                                    <input type="number" name="AB2JQ_demand4" min="0" value='0' required>
                                </div>
                                <div>
                                    <span>&nbsp;&nbsp;5&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand5" min="0" value='117' required>
                                    <input type="number" name="AB2JQ_demand5" min="0" value='0' required>
                                </div>
                                <div>
                                    <span>&nbsp;&nbsp;6&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand6" min="0" value='83' required>
                                    <input type="number" name="AB2JQ_demand6" min="0" value='0' required>
                                </div>
                                <div>
                                    <span>&nbsp;&nbsp;7&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand7" min="0" value='57' required>
                                    <input type="number" name="AB2JQ_demand7" min="0" value='14' required>
                                </div>
                                <div>
                                    <span>&nbsp;&nbsp;8&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand8" min="0" value='52' required>
                                    <input type="number" name="AB2JQ_demand8" min="0" value='2' required>
                                </div>
                                <div>
                                    <span>&nbsp;&nbsp;9&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand9" min="0" value='13' required>
                                    <input type="number" name="AB2JQ_demand9" min="0" value='0' required>
                                </div>
                                <div>
                                    <span>10&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand10" min="0" value='8' required>
                                    <input type="number" name="AB2JQ_demand10" min="0" value='7' required>
                                </div>
                                <div>
                                    <span>11&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand11" min="0" value='18' required>
                                    <input type="number" name="AB2JQ_demand11" min="0" value='12' required>
                                </div>
                                <div>
                                    <span>12&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand12" min="0" value='13' required>
                                    <input type="number" name="AB2JQ_demand12" min="0" value='7' required>
                                </div>
                                <div>
                                    <span>13&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand13" min="0" value='26' required>
                                    <input type="number" name="AB2JQ_demand13" min="0" value='9' required>
                                </div>
                                <div>
                                    <span>14&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand14" min="0" value='3' required>
                                    <input type="number" name="AB2JQ_demand14" min="0" value='5' required>
                                </div>
                                <div>
                                    <span>15&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand15" min="0" value='13' required>
                                    <input type="number" name="AB2JQ_demand15" min="0" value='7' required>
                                </div>
                                <div>
                                    <span>16&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand16" min="0" value='10' required>
                                    <input type="number" name="AB2JQ_demand16" min="0" value='7' required>
                                </div>
                                <div>
                                    <span>17&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand17" min="0" value='0' required>
                                    <input type="number" name="AB2JQ_demand17" min="0" value='12' required>
                                </div>
                                <div>
                                    <span>18&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand18" min="0" value='0' required>
                                    <input type="number" name="AB2JQ_demand18" min="0" value='9' required>
                                </div>
                                <div>
                                    <span>19&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand19" min="0" value='0' required>
                                    <input type="number" name="AB2JQ_demand19" min="0" value='32' required>
                                </div>
                                <div>
                                    <span>20&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand20" min="0" value='0' required>
                                    <input type="number" name="AB2JQ_demand20" min="0" value='39' required>
                                </div>
                                <div>
                                    <span>21&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand21" min="0" value='0' required>
                                    <input type="number" name="AB2JQ_demand21" min="0" value='53' required>
                                </div>
                                <div>
                                    <span>22&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand22" min="0" value='3' required>
                                    <input type="number" name="AB2JQ_demand22" min="0" value='35' required>
                                </div>
                                <div>
                                    <span>23&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand23" min="0" value='0' required>
                                    <input type="number" name="AB2JQ_demand23" min="0" value='30' required>
                                </div>
                                <div>
                                    <span>24&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand24" min="0" value='0' required>
                                    <input type="number" name="AB2JQ_demand24" min="0" value='18' required>
                                </div>
                                <div>
                                    <span>25&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand25" min="0" value='0' required>
                                    <input type="number" name="AB2JQ_demand25" min="0" value='60' required>
                                </div>
                                <div>
                                    <span>26&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand26" min="0" value='0' required>
                                    <input type="number" name="AB2JQ_demand26" min="0" value='44' required>
                                </div>
                                <div>
                                    <span>27&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand27" min="0" value='0' required>
                                    <input type="number" name="AB2JQ_demand27" min="0" value='60' required>
                                </div>
                                <div>
                                    <span>28&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand28" min="0" value='0' required>
                                    <input type="number" name="AB2JQ_demand28" min="0" value='53' required>
                                </div>
                                <div>
                                    <span>29&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand29" min="0" value='0' required>
                                    <input type="number" name="AB2JQ_demand29" min="0" value='90' required>
                                </div>
                                <div>
                                    <span>30&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand30" min="0" value='0' required>
                                    <input type="number" name="AB2JQ_demand30" min="0" value='58' required>
                                </div>
                                <div>
                                    <span>31&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand31" min="0" value='0' required>
                                    <input type="number" name="AB2JQ_demand31" min="0" value='78' required>
                                </div>
                                <div>
                                    <span>32&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand32" min="0" value='0' required>
                                    <input type="number" name="AB2JQ_demand32" min="0" value='71' required>
                                </div>
                                <div>
                                    <span>33&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand33" min="0" value='0' required>
                                    <input type="number" name="AB2JQ_demand33" min="0" value='35' required>
                                </div>
                                <div>
                                    <span>34&nbsp;</span>
                                    <input type="number" name="JQ2AB_demand34" min="0" value='0' required>
                                    <input type="number" name="AB2JQ_demand34" min="0" value='55' required>
                                </div>
                            </div>
                            <br>
                            <!-- submit button -->
                            <div>
                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <input class="btn btn-primary" type="submit" value="Submit" onclick="loading();">
                            </div>
                        </form>
                    </div>
                
                    <div class="col">
                        <form action="/extension" method="POST">
                            <h3>Extended Problem</h3>
                            <br>
                            <img src="../static/extension_networks.png" alt='#' style="max-width: 90%;">
                            <br>
                            <br>
                            <div class="extension_params">
                                <h4>Parameters</h4>
                                <div>
                                    <span>initial_prob:</span>
                                    <input name='initial_prob' type="number" step="0.01" min=0.01 max=0.99 value='0.8' placeholder='0.8'>
                                </div>
                                <div>
                                    <span>pusan_prob:</span>
                                    <input name='pusan_prob' type="number" step="0.01" min=0.01 max=0.99 value='0.2' placeholder='0.2'>
                                </div>
                                <div>
                                    <span>population_size:</span>
                                    <input name='population_size' type="number" step="1" min="2" value="20" placeholder="20">
                                </div>
                                <div>elitism_cutoff: 2</div>
                                <div>
                                    <span>mutation_num:</span>
                                    <input name='mutation_num' type="number" step="1" min="1" value="1" placeholder="1">
                                </div>
                                <div>
                                    <span>loop_limit:</span>
                                    <input name='loop_limit' type="number" step="1" min="1" value="100" placeholder="100">
                                </div>
                                <div>
                                    <span>evolution_depth</span>
                                    <input name='evolution_depth' type="number" step="10" min="10" value="1000" placeholder="1000">
                                </div>
                                <div>
                                    <span>Number of buses (N):</span>
                                    <input name="N" type="number" min="1" value="23" placeholder="23">
                                </div>
                                <div>
                                    <span>Number of seats per bus (D):</span>
                                    <input name="D" type="number" min="1" value="50" placeholder="50">
                                </div>
                                <div>
                                    <span>tolerance:</span>
                                    <input name="tolerance" type="number" min="0" max='10' value="0" placeholder="0">
                                </div>
                                <div>intervalDuration: 0.5</div>
                                <div>maxWorkingHour: 4</div>
                                <div>checkDemandFlag: True</div>
                                <div>
                                    <span>checkRushHourFlag:</span>
                                    <select name="checkRushHourFlag" id="checkRushHourFlag">
                                        <option value="True">True</option>
                                        <option value="False">False</option>
                                    </select>
                                </div>
                                <div>checkMaxWorkingHourFlag: True</div>
                                <div>
                                    <span>Coefficient of demand penalty (alpha):</span>
                                    <input name="alpha" type="number" step="0.01" min="0.01" max="1" value="1" placeholder="1">
                                </div>
                                <div>
                                    <span>demandViolationPenalty</span>
                                    <input name="demandViolationPenalty" type="number" min="0" value="20" placeholder="20">
                                </div>
                                <div>
                                    <span>rushHourViolationPenalty</span>
                                    <input name="rushHourViolationPenalty" type="number" min="0" value="17" placeholder="17">
                                </div>
                                <div>
                                    <span>maxWorkingHourViolationPenalty</span>
                                    <input name="maxWorkingHourViolationPenalty" type="number" min="0" value="15" placeholder="15">
                                </div>
                            </div>
                            <br>
                            <div class="extension_demand">
                                <h5>&nbsp;&nbsp;&nbsp;Jinqiao to AB&nbsp;&nbsp;AB to Jinqiao&nbsp;&nbsp;AB to Pusan&nbsp;&nbsp;Pusan to AB</h5>
                                <div>
                                    <span>&nbsp;&nbsp;1&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand1" min="0" value='114' required> 
                                    <input style="width: 115px" type="number" name="AB2JQ_demand1" min="0" value='0' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand1" min="0" value='13' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand1" min="0" value='0' required>
                                </div>
                                <div>
                                    <span>&nbsp;&nbsp;2&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand2" min="0" value='106' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand2" min="0" value='0' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand2" min="0" value='12' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand2" min="0" value='0' required>
                                </div>
                                <div>
                                    <span>&nbsp;&nbsp;3&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand3" min="0" value='132' required> 
                                    <input style="width: 115px" type="number" name="AB2JQ_demand3" min="0" value='0' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand3" min="0" value='15' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand3" min="0" value='0' required>
                                </div>
                                <div>
                                    <span>&nbsp;&nbsp;4&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand4" min="0" value='132' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand4" min="0" value='0' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand4" min="0" value='15' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand4" min="0" value='0' required>
                                </div>
                                <div>
                                    <span>&nbsp;&nbsp;5&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand5" min="0" value='117' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand5" min="0" value='0' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand5" min="0" value='13' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand5" min="0" value='0' required>
                                </div>
                                <div>
                                    <span>&nbsp;&nbsp;6&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand6" min="0" value='83' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand6" min="0" value='0' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand6" min="0" value='9' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand6" min="0" value='0' required>
                                </div>
                                <div>
                                    <span>&nbsp;&nbsp;7&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand7" min="0" value='57' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand7" min="0" value='14' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand7" min="0" value='6' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand7" min="0" value='2' required>
                                </div>
                                <div>
                                    <span>&nbsp;&nbsp;8&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand8" min="0" value='52' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand8" min="0" value='2' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand8" min="0" value='6' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand8" min="0" value='0' required>
                                </div>
                                <div>
                                    <span>&nbsp;&nbsp;9&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand9" min="0" value='13' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand9" min="0" value='0' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand9" min="0" value='0' required>
                                    <input style="width: 115px" type="number" name="AB2PS_demand9" min="0" value='0' required>
                                </div>
                                <div>
                                    <span>10&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand10" min="0" value='8' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand10" min="0" value='7' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand10" min="0" value='1' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand10" min="0" value='1' required>
                                </div>
                                <div>
                                    <span>11&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand11" min="0" value='18' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand11" min="0" value='12' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand11" min="0" value='2' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand11" min="0" value='1' required>
                                </div>
                                <div>
                                    <span>12&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand12" min="0" value='13' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand12" min="0" value='7' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand12" min="0" value='1' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand12" min="0" value='1' required>
                                </div>
                                <div>
                                    <span>13&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand13" min="0" value='26' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand13" min="0" value='9' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand13" min="0" value='3' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand13" min="0" value='1' required>
                                </div>
                                <div>
                                    <span>14&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand14" min="0" value='3' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand14" min="0" value='5' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand14" min="0" value='0' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand14" min="0" value='1' required>
                                </div>
                                <div>
                                    <span>15&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand15" min="0" value='13' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand15" min="0" value='7' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand15" min="0" value='1' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand15" min="0" value='1' required>
                                </div>
                                <div>
                                    <span>16&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand16" min="0" value='10' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand16" min="0" value='7' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand16" min="0" value='1' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand16" min="0" value='1' required>
                                </div>
                                <div>
                                    <span>17&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand17" min="0" value='0' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand17" min="0" value='12' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand17" min="0" value='0' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand17" min="0" value='1' required>
                                </div>
                                <div>
                                    <span>18&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand18" min="0" value='0' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand18" min="0" value='9' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand18" min="0" value='0' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand18" min="0" value='1' required>
                                </div>
                                <div>
                                    <span>19&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand19" min="0" value='0' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand19" min="0" value='32' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand19" min="0" value='0' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand19" min="0" value='4' required>
                                </div>
                                <div>
                                    <span>20&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand20" min="0" value='0' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand20" min="0" value='39' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand20" min="0" value='0' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand20" min="0" value='4' required>
                                </div>
                                <div>
                                    <span>21&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand21" min="0" value='0' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand21" min="0" value='53' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand21" min="0" value='0' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand21" min="0" value='6' required>
                                </div>
                                <div>
                                    <span>22&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand22" min="0" value='3' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand22" min="0" value='35' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand22" min="0" value='0' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand22" min="0" value='4' required>
                                </div>
                                <div>
                                    <span>23&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand23" min="0" value='0' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand23" min="0" value='30' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand23" min="0" value='0' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand23" min="0" value='3' required>
                                </div>
                                <div>
                                    <span>24&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand24" min="0" value='0' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand24" min="0" value='18' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand24" min="0" value='0' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand24" min="0" value='2' required>
                                </div>
                                <div>
                                    <span>25&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand25" min="0" value='0' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand25" min="0" value='60' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand25" min="0" value='0' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand25" min="0" value='7' required>
                                </div>
                                <div>
                                    <span>26&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand26" min="0" value='0' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand26" min="0" value='44' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand26" min="0" value='0' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand26" min="0" value='5' required>
                                </div>
                                <div>
                                    <span>27&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand27" min="0" value='0' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand27" min="0" value='60' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand27" min="0" value='0' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand27" min="0" value='7' required>
                                </div>
                                <div>
                                    <span>28&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand28" min="0" value='0' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand28" min="0" value='53' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand28" min="0" value='0' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand28" min="0" value='6' required>
                                </div>
                                <div>
                                    <span>29&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand29" min="0" value='0' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand29" min="0" value='90' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand29" min="0" value='0' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand29" min="0" value='10' required>
                                </div>
                                <div>
                                    <span>30&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand30" min="0" value='0' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand30" min="0" value='58' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand30" min="0" value='0' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand30" min="0" value='6' required>
                                </div>
                                <div>
                                    <span>31&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand31" min="0" value='0' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand31" min="0" value='78' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand31" min="0" value='0' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand31" min="0" value='9' required>
                                </div>
                                <div>
                                    <span>32&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand32" min="0" value='0' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand32" min="0" value='71' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand32" min="0" value='0' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand32" min="0" value='8' required>
                                </div>
                                <div>
                                    <span>33&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand33" min="0" value='0' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand33" min="0" value='35' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand33" min="0" value='0' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand33" min="0" value='4' required>
                                </div>
                                <div>
                                    <span>34&nbsp;</span>
                                    <input style="width: 115px" type="number" name="JQ2AB_demand34" min="0" value='0' required>
                                    <input style="width: 115px" type="number" name="AB2JQ_demand34" min="0" value='55' required>
                                    <input style="width: 115px" type="number" name="PS2AB_demand34" min="0" value='0' required> 
                                    <input style="width: 115px" type="number" name="AB2PS_demand34" min="0" value='6' required>
                                </div>
                            </div>
                            <br>
                            <!-- submit button -->
                            <div>
                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <input class="btn btn-primary" type="submit" value="Submit" onclick="loading();">
                            </div>
                            <br>
                            <br>
                        </form>
                    </div>
                </div>
            </div>

        <!-- Contact Info session -->
        <footer style="background-color: #444343; width: 100%; height: 170px;">
            <br>
            <div style="font-size: 40px; margin-left: 10px; margin-right: 10px">
                <a href="https://github.com/AlisonYao" class="fa fa-github" style="color: white;"></a>
                &nbsp;&nbsp;
                <a href="https://www.linkedin.com/in/yuhanyao/" class="fa fa-linkedin" style="color: white;"></a>
                &nbsp;&nbsp;
                <a href="https://medium.com/@AlisonYuhanYao" class="fa fa-medium" style="color: white;"></a>
                &nbsp;
            </div>
            <br>
            <h6 style="color: white;">Copyright &#169; 2021 Alison Yuhan Yao. All rights reserved</h6>
            <br>
        </footer>
    </div>
</body>
</html>