<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>This is Index HTML</h1>
    <form action="/GA" method="POST">
        <input type="number" name="JQ2AB_demand1" required>
        <input type="number" name="JQ2AB_demand2" required>
        <input type="number" name="JQ2AB_demand3" required>
        <input type="number" name="JQ2AB_demand4" required>
        <input type="number" name="JQ2AB_demand5" required>
        <input type="number" name="JQ2AB_demand6" required>
        <input type="number" name="JQ2AB_demand7" required>
        <input type="number" name="JQ2AB_demand8" required>
        <input type="number" name="JQ2AB_demand9" required>
        <input type="number" name="JQ2AB_demand10" required>
        <input type="number" name="JQ2AB_demand11" required>
        <input type="number" name="JQ2AB_demand12" required>
        <input type="number" name="JQ2AB_demand13" required>
        <input type="number" name="JQ2AB_demand14" required>
        <input type="number" name="JQ2AB_demand15" required>
        <input type="number" name="JQ2AB_demand16" required>
        <input type="number" name="JQ2AB_demand17" required>
        <input type="number" name="JQ2AB_demand18" required>
        <input type="number" name="JQ2AB_demand19" required>
        <input type="number" name="JQ2AB_demand20" required>
        <input type="number" name="JQ2AB_demand21" required>
        <input type="number" name="JQ2AB_demand22" required>
        <input type="number" name="JQ2AB_demand23" required>
        <input type="number" name="JQ2AB_demand24" required>
        <input type="number" name="JQ2AB_demand25" required>
        <input type="number" name="JQ2AB_demand26" required>
        <input type="number" name="JQ2AB_demand27" required>
        <input type="number" name="JQ2AB_demand28" required>
        <input type="number" name="JQ2AB_demand29" required>
        <input type="number" name="JQ2AB_demand30" required>
        <input type="number" name="JQ2AB_demand31" required>
        <input type="number" name="JQ2AB_demand32" required>
        <input type="number" name="JQ2AB_demand33" required>
        <input type="number" name="JQ2AB_demand34" required>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>