<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        div#loading {
        width: 100%;
        height: 100%;
        /* display: none; */
        background: url(../static/loadingGIF.gif) no-repeat;
        background-size: 80px;
        background-position: center;
        height: 100vh;
        cursor: wait;
        }
    </style>
    <title>Testing</title>
</head>
<body>
    <div id="loading"></div>
</body>
</html>